link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel="shortcut icon", href="/images/webapp-news-logo.png")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")