extends indexlayout

block content
  #wrapper.news
    #index_view
      header
        .toolbar
          .toolbar-l
            .toolbar-btn.btn-baidu
            .toolbar-btn.btn-userhome
          .toolbar-r
            .toolbar-btn.btn-search
            .toolbar-btn.btn-subscribe
      #index_view_content
        #index_view_navigator
          .divider
          .content
            table
              tbody
                tr
                  td(colspan='1')
                    div
                      b
                      span.cur 推荐
                  td(colspan='1')
                    div
                      b
                      span 百家
                  td(colspan='2')
                    div
                      b
                      span 武汉市
                  td(colspan='1')
                    div
                      b
                      span 图片
                  td(colspan='1')
                    div
                      b
                      span 娱乐
                tr
                  td(colspan='1')
                    div
                      b
                      span 社会
                  td(colspan='1')
                    div
                      b
                      span 军事
                  td(colspan='2')
                    div
                      b
                      span 互联网
                  td(colspan='1')
                    div
                      b
                      span 科技
                  td(colspan='1')
                    div
                      b
                      span 更多
        #carousel-example-generic.carousel.slide(data-ride='carousel')
              //- Indicators
              ol.carousel-indicators
                li.active(data-target='#carousel-example-generic', data-slide-to='0')
                li(data-target='#carousel-example-generic', data-slide-to='1')
                li(data-target='#carousel-example-generic', data-slide-to='2')
              //- Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  a(href='#')
                    img(src='/images/timg.jpg', alt='...')
                  .carousel-caption
                    | ...
                .item
                  a(href='#')
                    img(src='/images/timg (2).jpg', alt='...')
                  .carousel-caption
                    | ...
                .item
                  a(href='#')
                    img(src='/images/timg (1).jpg', alt='...')
                  .carousel-caption
                    | ...
              //- Controls
              a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
              a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
        #index_view_sections
          each item in bdnews
            .list-item
              p.title #{item.newstitle}
              p.main #{item.newscontent}
  script(src='../libs/jquery/dist/jquery.min.js')
  script(src='../libs/bootstrap/dist/js/bootstrap.min.js')
  script(src='../javascripts/index.js')
          